/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(#2b00b7, #42006C);
  /* background-color: #535bf2; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */

}

.user-icon {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 60px;
  color: white;
  padding: 0;
  margin: 0;
}

.signin-icon {
  font-size: 30px;
}

.home-icon {
  font-size: 37px;
  margin: 2px;
}

.details-icon {
  font-size: 35px;
  margin: 2px;
}

.about-icon {
  font-size: 35px;
  margin: 0px;
}

.settings-icon {
  font-size: 35px;
}

.user_name {
  color: white;
}

.head1,
.head2,
.head3 {
  color: white;
  font-weight: bolder;
  padding: 4px;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.head1a,
.head2a,
.head3a {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 4px;
  font-size: 24px;
  letter-spacing: 1px;
}

.cal_btn {
  background: white;
  position: relative;
  top: 0px;
  left: 70px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  height: 52px;
  width: 150px;
}

.layer {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.visible {
  display: block;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}



.main_head {
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: center;
}

.input1,
.input2,
.input3 {
  font-size: 20px;
  border: 0;
  height: 40px;
  width: 290px;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  background: #eaeaea;

}

.input1,
.input2,
.input3::placeholder {
  font-size: 20px;
}

.input1a,
.input2a,
.input3a::placeholder {
  font-size: 20px;
}

.input1a,
.input2a,
.input3a {
  font-size: 20px;
  background: #eaeaea;
  border: 0;
  height: 40px;
  width: 290px;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;

}

.submit_layer {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -15px;
  height: 550px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  transform: translate(-50%, -50%);
  top: 270px;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}





.submit_main_head {
  font-size: 40px;
}

.internal_head {
  font-size: 30px;
  color: white;
}

.external_head {
  color: white;
  font-size: 10px;
}

/* .external_input{
  font-size: 10px;
} */
.total_head {
  color: white;
}

.menu {
  display: flex;
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
  top: -60px;
  left: -30px;
}

.menu.open {
  visibility: hidden;
  left: -100px;
}

.sidebar {
  height: 100vh;
  width: 300px;
  background-color: rgb(61, 55, 55);
  position: fixed;
  left: -2000px;
  transition: 0.1s;
  top: 0px;
  z-index: 1;
  overflow-y: auto;
}

.sidebar.open {
  left: 0px;
  /* When isOpen is true */
}

.cross {
  height: 70px;
  width: 70px;
  position: relative;
  right: -230px;
  cursor: pointer;
  z-index: 1;
  /* border:0.5px solid black; */

}

.settings {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  top: -50px;
  left: -90px;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; */
  padding: 10px;

  /* top: -70px;
  left: -90px; */
  white-space: nowrap;
}

.section_a {
  font-size: 40px;
  color: white;
  padding: 5px;
}


.section0 {
  font-size: 35px;
  padding: 30px;
}

.section1 {
  font-size: 35px;
  padding: 30px;
}

.section2 {
  font-size: 35px;
  padding: 30px;
}

.section3 {
  font-size: 35px;
  padding: 30px;
}

.section5 {
  font-size: 35px;
  padding: 30px;
  color: white;
}

.logOutBtn {
  background: red;
  color: white;
  font-size: 20px;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.external_input {
  height: 40px;
  width: 350px;
}

.external_input::placeholder {
  font-size: 30px;
}

.external_head {
  font-weight: bold;
  font-size: 30px;
}

.total_txt {
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 10px;
  color: white;
}

.total_head {
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 10px;
}

.submit_btn {
  background: white;
  position: relative;
  top: 15px;
  color: black;
  font-weight: bold;
  margin: 5px;
  height: 52px;
  width: 150px;
}

.save_btn {
  color: black;
  background: white;
}

.next_btn {
  color: black;
  background: white;
}

/* signup page */
.signup_main_head {
  color: white;
  text-align: center;
  font-size: 55px;
  position: relative;
  top: -20px;
}

.signup_head {
  color: white;
  text-align: center;
  margin: 0px;
  text-decoration: underline;
  font-size: 40px;
}

.signup_layer {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 530px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  transform: translate(-50%, -50%);
  top: 270px;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 15px 30px;
}

.name_head,
.email_head,
.password_head,
.confirm_password_head {
  display: flex;
  color: white;
  padding: 5px;
  font-size: 20px;
}

/* signup_input */
.signup_name_input,
.signup_email_input,
.signup_password,
.signup_confirm_password {
  padding: 5px;
  font-size: 20px;
  margin: 0px;
}

.signup_submit {
  font-size: 25px;
  padding: 5px;
  margin: 10px;
  background: white;
}

.signup_bottom {
  color: white;
  font-size: 20px;
}

.signup_anchor {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

/* signin */
.signin_layer {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* top: 50%;
  left: 50%; */
  top: -60px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.signin_head {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 40px;
  text-decoration: underline;
}

.sigin_email_head,
.signin_password_head {
  display: flex;
  color: white;
  padding: 5px;
  font-size: 20px;
}

.signin_email_input,
.signin_password_input {
  padding: 5px;
  font-size: 20px;
  margin: 10px;
}

.signin_submit {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  background: white;
}

.signin_bottom {
  color: white;
  font-size: 25px;
}

.signin_anchor {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

/* user details */
.generate_pdf_btn {
  background: white;
}

.downbtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.addsubject {
  background: rgb(73, 255, 73);

}

/* details comp*/
.detailsEditBtn {
  background: white;

}

.details-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;
  padding: 16px;
  min-width: 1200px;
  width: fit-content;
  margin: auto;
  /* overflow: auto; */
}

.details-wrapper {
  overflow-x: auto;
  width: 100%;
  padding: 0 10px;
}

.details-cell {
  color: black;
  background: white;
  padding: 10px;
  font-size: 30px;
  border: 5px solid #ccc;
  text-align: center;
}

.details-header {
  color: black;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 5px solid black;
  padding: 10px;
  font-size: 35px;
  text-align: center;
  height: 200px;

}

.rotated-text {
  transform: rotate(-90deg);
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: 65px;
}

.details-remove-button {
  position: relative;
  top: 10px;
  height: 35px;
  width: 35px;
  padding: 5px 10px;
  /* background-color: #f44336; */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-remove-button:hover {
  background-color: #d32f2f;
}

.downbtns {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  overflow: auto;
}

.addsubject {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*settings*/
.settings_container {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  transform: translate(-50%, -50%);
  top: 270px;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 15px 30px;

}

.acc_management_head {
  color: white;
  font-size: 30px;
  text-decoration: underline;

}

.account_section {
  display: flex;
  flex-direction: column;
  color: white;
  background: #56448e;
  padding: 5px;
}

.acc-delete-btn {
  color: white;
  background: red;
  width: 100%;
}

.acc-password-btn {
  background: white;
}
.download-preview-txt {
      text-align: center;
      color: white;
      font-size: 25px;
      position: relative;
      top: -70px;
  }
/* media queries for mobile phone */
@media screen and (max-width:480px) {

  .menu {
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 1;
    top: 10px;
    left: 20px;
  }

  .sections {
    padding: 20px;
  }

  .section_a {
    font-size: 35px;
    color: white;
  }


  .section0 {
    font-size: 30px;
    padding: 15px;
  }

  .section1 {
    font-size: 30px;
    padding: 15px;
  }

  .section2 {
    font-size: 30px;
    padding: 15px;
  }

  .section3 {
    font-size: 30px;
    padding: 15px;
  }

  .section5 {
    font-size: 30px;
    color: white;
    padding: 15px;
  }

  .logOutBtn {
    background: red;
    color: white;
    font-size: 20px;
    height: 50px;
    position: relative;
    left: 70px;
  }

  .cross {
    height: 50px;
    width: 50px;
    position: relative;
    right: -250px;
    cursor: pointer;
    z-index: 1;
  }

  .signup_layer {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    transform: translate(-50%, -50%);
    top: 220px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 15px 30px;
  }


  .signup_submit {
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    background: white;
  }

  .head1,
  .head2,
  .head3 {
    color: white;
    font-weight: bolder;
    padding: 4px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: 35px;
  }

  .head1a,
  .head2a,
  .head3a {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: 35px;
  }

  .input1,
  .input2,
  .input3 {
    position: relative;
    top: 35px;
  }

  .input1a,
  .input2a,
  .input3a {
    position: relative;
    top: 35px;

  }

  .input1,
  .input2,
  .input3::placeholder {
    font-size: 20px;
  }

  .input1a,
  .input2a,
  .input3a::placeholder {
    font-size: 20px;
  }

  .layer {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 540px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    top: 377px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

  }

  .cal_btn {
    top: 10px;
    left: -10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 150px;
  }

  /* details */
  /* Scroll wrapper enables horizontal scrolling */
  .details-wrapper {
    overflow-x: scroll;
    /* overflow-y: hidden; */
    width: 100vw;
    height: 550px;
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on mobile */
  }

  /* Table grid inside the scrollable wrapper */
  .details-container {
    display: grid;
    grid-template-columns: repeat(9, 70px);
    column-gap: 1px;
    gap: 3px;
    padding: 16px;
    min-width: 1200px;
    /* Force table to overflow on small screens */
    height: 350px;
    /* margin: auto; */
    box-sizing: border-box;
  }

  /* Cell styles */
  .details-cell,
  .details-header {
    color: black;
    background: white;
    padding: 0px;
    font-size: 20px;
    border: 5px solid #020000;
    text-align: center;
    height: 100px;
    width: 70px;
    box-sizing: border-box;
  }

  /* Custom scroll bar */
  .details-wrapper::-webkit-scrollbar {
    height: 12px;
  }

  .details-wrapper::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  .details-wrapper::-webkit-scrollbar-thumb {
    background: rgb(97, 86, 86);
    border-radius: 6px;
    height: 40px;
    width: 40px;
  }

  /* Optional: Scrollbar for Firefox */
  .details-wrapper {
    scrollbar-width: thin;
    scrollbar-color: rgb(97, 86, 86) black;
  }

  .rotated-text {
    transform: rotate(-90deg);
    display: inline-block;
    white-space: nowrap;
    position: relative;
    top: 25px;
    font-size: 15px;
    font-weight: bold;
  }

  .detailsEditBtn {
    background: "white";
    font-size: "70px"
  }

  .print-area {
    transform: scale(0.6);
    transform-origin: center;
    height: 120vh;
    position: relative;
    top: -270px;
    overflow-x: auto;
  }

  /* .styled-table {
    width: 800px;
  } */

  .styled-table th,
  .styled-table td {
    padding: 6px;
    font-size: 50px;
    height: 60px;
  }

  .print-button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    position: relative;
    left: 200px;
    top: -450px;
    padding: 10px;
  }

  .download-preview-txt {
      text-align: center;
      color: white;
      font-size: 25px;
      position: relative;
      top: -70px;
  }



}